body
{
    background-image: url('../assets/img/forest.red.jpg');
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    background-color: #ad1919;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 80px;
}

#menu ul li:hover{
    background-color: #ad1919;
}

.button-more{
    padding: 15px;
    background-color: #ad1919;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 70px;
    font-size: 14px;
    text-align: center;
}