*{
    margin: 0px;
    padding: 0px;
    /* list-style: none; */
}

.clearfix{
    float: none;
    clear: both;
}

body
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;

}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 80px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
}

#img-gamer1{
   content: url("./assets/img/gamer1.jpg");
}
#img-gamer2{
   content: url("./assets/img/gamer2.jpg");
}
#img-gamer3{
   content: url("./assets/img/gamer3.jpg");
}

/* #img-gamer1, #img-gamer2, #img-gamer3{
    width: 100%;
    height: 220px;
    display: inline-block;
}  */

#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    padding: 7px;   
}

.post h2{
    font-size: 30px;
    color: #333;
}

.post .date{
    display: block;
    color: gray;
    margin-top: 10px;
}

.post p{
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.button-more{
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 70px;
    font-size: 14px;
    text-align: center;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: right;
}

#sidebar h4{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    /* background-image: url('') repeat-x; */
}

#sidebar h4 span{
    background-color: white;
    padding: 5px;
}

.img-about, img-about:after{
    content:url("./assets/img/user.png");
    /* width: 220px; */
    width: 100%;
    height: auto;
    display: inline-block;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

input[type="text"], input[type="password"], input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
    /* box-shadow: 0px 0px 2px gray; */
}

input[type="submit"]{
    background-color: #eee;
    padding: 5px;
    border: 1px solid #ccc;

}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background-color: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

#select-theme{
    position: fixed;
    top: 40px;
    background-color: rgba(51, 51, 51, 0.50);
    width: 50px;
    height: 100px;
}

#to-green, #to-red, #to-blue{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#to-green{
    background-color: #235e3d;
}

#to-red{
    background-color: #ad1919;
}

#to-blue{
    background-color: #1F87C4;
}

.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}